.container {
    background: linear-gradient(#248d66, #3377af);
    font-family: 'Livvic', sans-serif;
}

.background {
    background-color: #1f4b6e;
}

.rounded-circle {
    background: url("assets/DSC_0432.jpg") center;
    background-size: cover;
    width: 182px;
    height: 182px;
    box-shadow: 1px 1px 1px 1px #383838;
}

.no-li {
    list-style-type: none;
}

h1 {font-size: 27px;}

h2 {font-size: 25px;}

h3 {font-size: 21px;}

h4 {font-size: 16px;}

h2, h3, .txt-undrlnd {
    text-decoration: underline;
}

p, ul, span {font-size: 19px;}

.img {
    max-width: 17px;
}

.fab {
    color: #3377af;
}
