.container {
    background: linear-gradient(#248d66, #3377af);
    font-family: 'Livvic', sans-serif;
}

.background {
    background-color: #1f4b6e;
    margin-top: 7rem;
    padding-top: 4px;
}

.rounded-circle {
    background: url("assets/DSC_0432.jpg") center;
    background-size: cover;
    width: 182px;
    height: 182px;
    margin-bottom: 1rem;
    box-shadow: 1px 1px 1px 1px #f5f5f5;
}

.mrgn-1 {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.mrgn-middl {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
}

.no-li {
    list-style-type: none;
}

h1 {
    font-size: 27px;
}

h2 {
    font-size: 25px;
}

h2, h3, .txt-undrlnd {
    text-decoration: underline;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 16px;
}

p, ul {
    font-size: 19px;
}

.row-mrgn {
    margin-left: 1.7rem;
}

.border {
    padding-top: 0.8rem;
}

.col-mrgn {
    margin-top: 2.7rem;
    margin-left: 1.5rem;
}

.img {
    max-width: 17px;
    padding-right: 4px;
    padding-bottom: 3px;
}

.fab {
    color: #3377af;
    padding-right: 4px;
}
